.Font_Size{
    font-size:50px; 
}
.Color-custom{
    color:gray; 
}
.Font_Size1{
    font-size:20px; 
}
.Color-custom1{
    width:10%;
    height:10% ; 
}
.Text-none{
    text-decoration: none;
}
.Color-a{
    color:black;
}