.Header{
    height:200px ;
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items:center ; 
}
.Header2{
    height:500px ;
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items:center ; 

}
.Header3{
    height:500px ;
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.Header4{
    height:350px ;
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
   

}
.Headerred{
    width:30%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items:center ; 
    margin: 10px;
}
.headerred1{
    width: 90%;
    height: 150px;
    background-color:red;
    
}
.Headerpink{
    width:70%;
    height:98%;
    display: flex;
    justify-content: center;
    align-items:center ; 
    margin: 30px;
}

.content1{
    width:96%;
    height:500px;
    background-color:orange;
    display: flex;
    justify-content: center;
    align-items:center ; 


}
.nal{
    width:30%;
    height: 300px;
   
    color: #000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;

}
.nal2{
    width: 50%;
    height: 350px;
    color: #000;
    display:flex;
    justify-content: center;
    margin:10px;
}
.nal3{
    width: 30%;
    height: 350px;
    color: #000;
    display:flex;
    flex-direction: column;
    margin:10px;
}
.Ten{
    color:blanchedalmond ;
    text-align:center;
}
.content{
    height: 500px;
}
.li{
    color:blue;
}

.Header-conten{
    height:500px ;
    
    justify-content: center;
    align-items:center ; 
}
